/var/log/nginx/*.log {
        daily
        missingok
        rotate {{ nginx_log_rotate_days }}
        maxsize {{ nginx_log_rotate_maxsize }}
        shred
        compress
        delaycompress
        notifempty
        create 0640 nginx adm
        sharedscripts
        postrotate
                if [ -f /var/run/nginx.pid ]; then
                        kill -USR1 `cat /var/run/nginx.pid`
                fi
        endscript
}

